@import "./base.css";
@import "./basis.css";
@import "./font.css";

html,
body {
  position: relative;
  height: 100%;
  font-family: "NanumSquare", "Dotum", "돋움", "Apple SD Gothic Neo", sans-serif;
}

/* 헤더 */

.header__mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__white {
  background-color: white;
  border-bottom: 1px solid #c2c2c2;
}

.header_transparent {
  background-color: transparent;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  margin-right: 24px;
  margin-left: 24px;
}

@media (min-width: 1024px) {
  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 64px;
    margin-right: 24px;
    margin-left: 24px;
  }
}

.header__logo {
  height: 24px;
}

.header__logo img {
  width: auto;
  height: 100%;
}

.header__btn {
  background-color: #fd6052;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  color: white;
  font-weight: 600;
}

/* 메인 커버 */
.main__cover {
  background-color: #ffe3e1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 36px;
  padding-left: 36px;
  margin-bottom: 56px;
}

.main__cover__title {
  font-size: 36px;
  font-weight: 800;
  color: black;
  padding-top: 146px;
  text-align: center;
}

.main__cover__subtitle {
  font-size: 21px;
  font-weight: 600;
  color: black;
}

.main__cover__bg {
  position: absolute;
  top: 228px;
  width: 173px;
  height: auto;
}

.main__cover__bg img {
  width: 100%;
  opacity: 0.15;
}

.main__cover section {
  display: block;
  width: 100%;
  height: 496px;
}

.main__cover__img {
  z-index: 2;
  position: absolute;
  width: 252px;
  height: 466px;
  background-image: url("../images/main_anim.gif");
  background-size: 100%;
  border-radius: 6px;
  top: 419px;
  left: 50%;
  margin-left: -126px;
}

.mobile_frame {
  z-index: 1;
  width: 264px;
  height: 502px;
  background-image: url("../images/mobile_frame.png");
  background-size: 100%;
  position: absolute;
  border-radius: 16px;
  box-shadow: 8px 8px 12px 2px rgba(0, 0, 0, 0.16);
  top: 396px;
  left: 50%;
  margin-left: -132px;
}

.main__cover__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fd6052;
  border-radius: 24px;
  height: 56px;
  box-shadow: 8px 8px 12px 2px rgba(0, 0, 0, 0.16);
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 24px;
  color: white;
}

.main__cover__btn__text {
  font-size: 21px;
  font-weight: 800;
  margin-right: 8px;
}

/* 메인 정보 */
.main__info {
  padding: 82px 24px 82px 24px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main__info:nth-child(2) {
  background-color: #f7f7f7;
}

.main__info__title {
  font-size: 28px;
  font-weight: 600;
  /* margin-bottom: 24px; */
  text-align: center;
}

.main__info__text {
  margin-bottom: 48px;
}

.main__info__img {
  margin: 0 24px 0 24px;
}

.main__info__img img {
  border-radius: 28px;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.16);
}

.main__info__subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.step04__contents__img img {
  width: 144px;
  margin-top: 48px;
  margin-bottom: 24px;
}

/* 푸터 */
#footer__mobile {
  background-color: #f7f7f7;
  border-top: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
}

.footer__wrap {
  display: block;
  width: 100%;
  padding: 24px 24px 96px 24px;
}

.footer__wrap span {
  font-size: 12px;
  font-weight: 600;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6px;
}

.footer__link li {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.footer__link li a {
  text-align: left;
  font-size: 14px;
}

.footer__wrap p {
  border-top: 1px solid #c2c2c2;
  padding-top: 24px;
  padding-bottom: 8px;
  margin-top: 16px;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .footer__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1024px;
  }

  .footer__wrap span {
    font-size: 14px;
    font-weight: 600;
  }

  .footer__wrap p {
    border-top: none;
    font-size: 14px;
  }

  .footer__link li {
    width: 512px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footer__link li a {
    text-align: right;
    font-size: 16px;
  }
}
